aiohttp==3.10.9
requests==2.32.3 
pytz==2019.1 
pytest-asyncio==0.24.0 
aioresponses==0.7.6 
mock==3.0.5 
pytest==5.0.1 
yarl==1.14.0 
codecov==2.1.13 
pytest-cov==5.0.0
flake8==3.7.9
pylint==3.3.1
isort==4.3.21
pytest-cov==5.0.0
pytest-html==4.1.1
ruff==0.6.9