aiohttp==3.11.10
requests==2.32.3 
pytz==2024.2 
pytest-asyncio==0.24.0 
aioresponses==0.7.7 
mock==5.1.0 
pytest==8.3.4 
yarl==1.18.3 
codecov==2.1.13 
pytest-cov==6.0.0
flake8==7.1.1
pylint==3.3.2
isort==5.13.2
pytest-cov==6.0.0
pytest-html==4.1.1
ruff==0.8.2