aiohttp==3.11.13
requests==2.32.3 
pytz==2025.1 
pytest-asyncio==0.25.3 
aioresponses==0.7.8 
mock==5.2.0 
pytest==8.3.5 
yarl==1.18.3 
codecov==2.1.13 
pytest-cov==6.0.0
flake8==7.1.2
pylint==3.3.4
isort==6.0.1
pytest-cov==6.0.0
pytest-html==4.1.1
ruff==0.9.9