name: "Lint"

on:
  push:
  pull_request:
  
permissions:
  contents: write

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v5"

        - name: "Set up Python"
          uses: actions/setup-python@v6.0.0
          with:
            python-version: "3.12.4"

        - name: "Install requirements"
          run: |
            python -m pip install --upgrade pip
            pip install ruff

        - name: "Format"
          run: ruff format .
          
        - name: "Check"
          run: ruff check --output-format=github . --fix --exit-zero
          
        - name: "Auto Commit"
          uses: stefanzweifel/git-auto-commit-action@v7.0.0
          with:
            commit_message: 'style fixes by ruff'