name: "Tests"

on:
  pull_request:
    types: [opened]

permissions:
  contents: read

jobs:
  test:
    name: "Run Tests"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v6.0.1"

      - name: "Set up Python"
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.12.4"

      - name: "Install requirements"
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-ci.txt

      - name: "Run tests"
        run: |
          python -m pytest tests/ -v
